---
import Layout from "../layouts/Layout.astro";
import StartupsContainer from "../components/StartupsContainer";
import { getCollection } from "astro:content";

const startupsCollection = await getCollection("startups");
const startups = startupsCollection.map((startup) => startup.data);
const startupFilters = startups
    .map((startup) => startup.categories)
    .flat()
    .filter((v, i, a) => a.indexOf(v) === i);
---

<Layout title="Rail Startups" description="Rail Startups">
    <main
        class="grid bg-teal-100/20 border border-teal-600/20 backdrop-blur-sm min-h-screen container rounded-md p-4 md:p-8"
    >
        <StartupsContainer client:visible startups={startups} startupFilters={startupFilters} />
    </main>
</Layout>
