---
import Layout from "../layouts/Layout.astro";
import StartupsContainer from "../components/StartupsContainer";
---

<Layout title="Rail Startups" description="Rail Startups">
    <main
        class="grid bg-teal-100/20 border border-teal-600/20 backdrop-blur-sm min-h-screen container rounded-md p-4 md:p-8"
    >
        <StartupsContainer client:visible />
    </main>
</Layout>
