---
import { Icon } from "astro-icon/components";

interface Props {
    startupFilters: string[];
}

const { startupFilters } = Astro.props as Props;
---

<div class="grid items-center gap-4">
    <!-- Filters -->
    <div class="flex flex-wrap items-center justify-center gap-2" id="startup-filters">
        <button
            data-filter="all"
            class="bg-teal-600 text-white border border-teal-600 text-xs uppercase rounded-md px-4 py-1.5 transition-all hover:bg-teal-700 active:translate-y-0.5 cursor-pointer"
        >
            all
        </button>
        {startupFilters.map((category) => (
            <button
                data-filter={category}
                class="bg-slate-100 text-slate-600 border border-slate-200 px-4 tracking-wider py-1.5 text-xs rounded-md uppercase transition-all hover:bg-slate-200 active:translate-y-0.5 cursor-pointer"
            >
                {category}
            </button>
        ))}
    </div>

    <!-- Search -->
    <div class="bg-white flex items-center w-1/2 mt-2 mb-8 mx-auto h-10 rounded-lg overflow-clip border border-slate-300 shadow-sm">
        <Icon name="material-symbols:search" class="bg-teal-600 h-full w-10 p-2 text-white" />
        <input
            type="text"
            placeholder="Search"
            id="startup-search"
            class="group px-3 h-10 w-full bg-white focus-within:outline-none"
        />
    </div>
</div>
