---
import HeroLogo from "../../src/assets/hero-logo.webp";
---

<section class="container">
    <img src={HeroLogo.src} alt="Logo" class="size-72 shrink-0 mx-auto" />
    <h1 class="text-4xl font-bold tracking-tighter text-center my-4">Welcome to the Rail Startups community</h1>
    <p class="text-left text-pretty text-sm text-slate-800">
        Across Europe, a new wave of entrepreneurs is reimagining the future of train travel. We believe <b>rail can be bigger, bolder, simpler—and yes, even sexier</b>.
        From making train journeys more accessible to designing innovative services that attract more people to sustainable travel, we are full of good ideas. <b>Our challenge is to make our ideas and businesses viable within the current ecosystem of railway companies and major industry players.</b>
    </p>
    <p class="text-left text-pretty text-sm text-slate-800 pt-4">
        That's why we're here—to <b>connect, support, and empower each other</b>. Together, we can take up more space, amplify our impact, and help rail take its rightful place at the heart of European mobility.
    </p>
    <p class="text-center pt-4">
        <a
            target="_blank"
            href="https://tally.so/r/3NgAjb"
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full shadow-lg inline-block mx-auto"
        >
            <span>Add my startup</span>
        </a>
    </p>
    <div class="border-b border-teal-900/20 mx-auto w-2/3 my-6"></div>
    <h2 class="text-3xl font-bold tracking-tighter text-center my-4">Our members</h2>
</section>